@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
* {
  font-family: "Montserrat-Medium", sans-serif;
}

html {
  font-size: 20px;
}

p {
  font-size: 2rem;
  margin-bottom: -10px !important;
  color: #fff;
}

.calc-h4 {
  font-size: 1rem;
  margin-bottom: -10.01px !important;
  color: #fff;
}

.credit-calc-h4 {
  color: #fff;
}

h2 {
  color: #fff;
  font-size: 2rem;
}

small {
  font-weight: lighter;
  color: rgb(192, 192, 192);
  margin: 0;
}

.flex {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(-315deg, #181964, #0045a0);
  text-align: center;
  padding: 2rem;
  width: 19rem;
  margin: 120px auto;
  box-shadow: 5px 5px 50px -20px;
}

.input-range__label--max {
  display: none;
}

.input-range__label--min {
  display: none;
}

.input-range__label-container {
  left: -50%;
  position: relative;
  display: none;
}